<html>
<head>
    <title> Forgot Your Password? </title>
</head>
<body>
    <header>
    <h1> Forgot Your Password? </h1>
    </header>   
    <form method="POST" action="/forgot_password">
    Please enter your email associated with the passwords you made. <input type="email" id="email" name="email">
    <br>
    <strong><td>Email:</td></strong>
    <td><input type="email" id="email" name="forgot_pass_email"></td>
    <button type="submit">Submit Email</button>
    </form>
    
    {% if no_saved_passwords %}
    <h3>You have no saved password. Remember, you must give an email and security answers to save your password.</h3>
    {% endif %}
    
    {% if num_of_passwords %}
    <h3>You have saved {{ num_of_passwords }} with us. Click this link to answer security questions to get those passwords. </h3>
    <a href="{{ url_for('get_passwords') }}" > Answer Security Questions and Get Passwords</a>
    {% endif %}
    
    <br><br><br>
    <a href="{{ url_for('password_generator') }}" > Make Another Password </a>
</body>
</html>
