<html>
<head>
    <title> Forgot Your Password? </title>
</head>
<body>
    <header>
    <h1> Forgot Your Password? </h1>
    </header>   
    <form method="POST" action="/forgot_password">
    Please enter your email associated with the passwords you made. <input type="email" id="email" name="email">
    <br>
    <strong><td>Email:</td></strong>
    <td><input type="email" id="email" name="forgot_pass_email"></td>
    <button type="submit">Submit Email</button>
    </form>
    <div id="question-container">
        {% if questions %}
            {% for question in questions %}
                <label>{{ question }}</label><input type="text"><br>
            {% endfor %}
        {% endif %}
    </div>
    <br><br><br>
    <a href="{{ url_for('password_generator') }}" > Make Another Password </a>
</body>
</html>
