<html>
<head>
    <title> Security Questions to Retrieve Password Data </title>
</head>
<body>
    <header>
    <h1> Security Questions </h1>
    </header>   
    <form method="POST" action="/get_passwords">
    {% if questions_to_answer_to_get_passwords %}
        {% for question_number, question_text in questions_to_answer_to_get_passwords.items() %}
            <h3>{{ question_text }}</h3>
            <input type="text" name="get_pass_answer{{ question_number }}"><br>
        {% endfor %}
    {% else %}
        <p>{{ message }}</p>
    {% endif %}
    <br>
    <br>
    {% if not print_passwords %}
    <button type="submit">Enter Answers</button>
    {% endif %}
    </form>
    
    {% if print_passwords %}
        <h3> Passwords for {{ global_email }} are the following: </h3>
        {% for password in passwords_to_present %}
        <li>{{ password }}</li>
        {% endfor %}
    {% endif %}
     <br>
     <br>
     <br>
    <a href="{{ url_for('forgot_password') }}">Forgot Password?</a>
    <a href="{{ url_for('password_generator') }}" > Make Another Password </a>

</body>
</html>