#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Sun Mar 31 22:39:08 2024

@author: tandyllc
"""

<html>
<head>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=devide-width, initial-scale=1">
	<title> Password Generator </title>
</head>
<body>
	<form name = 'Password Generator' method ="post">
	<table>
		<tr>
			<td>Email: </td>
			<td><input type = "text" name = "email"/></td>
		</tr>
	</table>
	Select option for password: <br/>
	Random:<input type = "radio" name = "option" value = "random"/> 
	Word Concatenation:<input type = "radio" name = "option" value = "concat"/> <br/>