<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Password Generator</title>
</head>
<body>
    <form name="Password Generator" method="post">
        <table>
            <tr>
                If you do not include an email, your password won't be saved.
                <strong><td>Email:</td></strong>
                <td><input type="email" id="email" name="email"></td>
            </tr>
        </table>
        <br>
        <strong>Select option for password:<br></strong>
        Random:<input type="radio" name="option" value="random"> 
        Combinations:<input type="radio" name="option" value="concat"><br>
        <br>
        <strong>If Combinations, select additions:<br></strong>
        Symbols:<input type="checkbox" name="additions" value="symbols"><br>
        Digits:<input type="checkbox" name="additions" value="digits"><br>
        <br>
        <strong>Please note that passwords with at least 9 characters, symbols, and numbers are the most secure!</strong>
        <br><br>
        <strong>Password Length Mininum:</strong>
        <input type="text" name="password_min"><br>
        <br>
        <strong>Password Length Maximum:</strong>
        <input type="text" name="password_max"><br>
        <br>
        <strong>Security Questions:<br></strong>
        {% for question_number, question_text in three_questions %}
        <label>{{ question_text }}</label><br>
        <input type="text" name="answer{{ question_number }}"><br>
        {% endfor %}
        <br>

        <button type="submit">Generate Password</button>
    </form>
    
    {% if final_password %}
    <h2>Password Result:</h2>
    <p><strong>Generated Password:</strong> {{ final_password }}</p>
    {% endif %}
    
    
    
</body>
</html>